ul {
    font-family: times;
    font-weight:lighter;
    list-style: none;
}
a:link {
  text-decoration:none;
  color: lightblue;
  font-size: 19px;
}
footer {
  font-family:serif;
  font-weight: lighter;
  font-kerning: normal;
}
